## Statistical Functions

In [ ]:
import pandas as pd
import numpy as np

# Define data
data = {
    'EmployeeID': range(1, 21),  # 20 employees
    'YearsExperience': [5, 7, 3, 8, np.nan, 4, 10, 6, np.nan, 12, 3, 9, 2, 5, 8, np.nan, 11, 4, 7, 6],
    'EducationLevel': ['Bachelor', 'Master', 'PhD', 'Bachelor', 'Master', 'Bachelor', 'PhD', 'Master', 
                       'Bachelor', 'PhD', 'Bachelor', 'Master', 'PhD', 'Master', 'Bachelor', 'PhD', 
                       'Bachelor', 'Master', 'PhD', 'Bachelor'],
    'TrainingHours': [40, 30, 25, 50, 35, 45, 40, np.nan, 20, 30, np.nan, 25, 30, 40, 35, 45, 25, 30, 50, np.nan],
    'SalesAchieved': [100000, 120000, 80000, 150000, 110000, 90000, 200000, 130000, 70000, 180000, 75000, 
                      125000, 85000, 115000, 140000, 160000, 175000, 95000, 105000, 145000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

In [7]:
print(df["SalesAchieved"].mean())
print(df["SalesAchieved"].median())
print(df["SalesAchieved"].std())
print(df["SalesAchieved"].mode())

122500.0
117500.0
37116.459676905724
0      70000
1      75000
2      80000
3      85000
4      90000
5      95000
6     100000
7     105000
8     110000
9     115000
10    120000
11    125000
12    130000
13    140000
14    145000
15    150000
16    160000
17    175000
18    180000
19    200000
Name: SalesAchieved, dtype: int64

In [8]:
df.describe()

       EmployeeID  YearsExperience  TrainingHours  SalesAchieved
count    20.00000        17.000000      17.000000      20.000000
mean     10.50000         6.470588      35.000000  122500.000000
std       5.91608         2.917997       9.185587   37116.459677
min       1.00000         2.000000      20.000000   70000.000000
25%       5.75000         4.000000      30.000000   93750.000000
50%      10.50000         6.000000      35.000000  117500.000000
75%      15.25000         8.000000      40.000000  146250.000000
max      20.00000        12.000000      50.000000  200000.000000

In [15]:
df.quantile([0.25,0.75],numeric_only=True,method='table',interpolation='lower')

      EmployeeID  YearsExperience  TrainingHours  SalesAchieved
0.25           5              NaN           35.0         110000
0.75          15              8.0           35.0         140000